


/*
*
*
*
*
*					PASOS
*
*
*
*
*/

.container--pasos{
	background: url(../img/photo.png);
	background-color:#39b9eb;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	color:white;
	padding:1.5em;
	width:100%;

	h2{
		margin-top: 0;
		color:white;
		text-align: center;
	}
	h5{
		text-align: center;
		color:white;
	}
	p{
		text-align: center;
	}
	
	
	&--flex{
		
		display: flex;
		flex-flow: column nowrap;
		width: 100%;


		&__1,
		&__2,
		&__3{

			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			padding: 2em 0;
			
			h2{
				background:white;
				border-radius: 50%;
				color:#39b9eb;
				padding:.7em;
				width: 70px;
				height: 70px;
			}

		}

		@include desde(tablet) {
			flex-flow:row nowrap;


			&__1,
			&__2,
			&__3{
				width: 33.3333333333%;
				
				h5{
					width: 90%;
					font-size: .8em;
				}

			}
		}

	}

}

/*
*
*
*
*
*					FIN DE PASOS
*
*
*
*
*/

/*
*
*
*
*
*					INFO
*
*
*
*
*/


.container--info{
	display:flex;
	width:100%;
	justify-content:center;
	flex-flow:column nowrap;
	align-items: center;
	padding:1em;


	&__nicotina{
		h2{
			color:#bad801;
			text-align: center;
			font-size: 1.5em;
			margin: 0 0 .5em 0;
		}
	}

	@include desde(tablet) {

		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:flex-start;
		padding:0;
		margin: 4em 0;

		&__nicotina,
		&__figure{
			width: 45%;

			h2{
				text-align: left;
			}
		}
	}
}

/*
*
*
*
*
*					FIN DE INFO
*
*
*
*
*/
/*
*
*
*
*
*					CUERPO HUMANO
*
*
*
*
*/
.container--cuerpoHumano{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
	position:relative;


	.container-imagen{
		position:relative;
		max-height: 580px;
		overflow: hidden;

		.imagen1{
			position:relative;
			right: 0;
			left: 5000px;
			margin:0 auto;
		}
		.imagen2{
			position:absolute;
			right: 0;
			left: -5000px;
			margin: 0 auto;
			top:0;
		}
	}
}





/*
*
*
*
*
*					PROCESOS
*
*
*
*
*/

.container--procesos{
	width:100%;
	display:flex;
	flex-flow: column nowrap;
	justify-content:center;
	background: url(../img/photo.png);
	color:white;
	padding:1em 0;
	align-items:center;

	h3{
		color:#bad801;
		text-align: center;
	}

	&__uno,
	&__dos,
	&__tres{
		margin: 1em 0;
		width: 90%;
		align-self:center;
		font-size: .9em;
	}

	@include desde(tablet) {
		flex-flow: row nowrap;
		align-items:flex-start;

		&__uno,
		&__dos,
		&__tres{
			width: 33.333%;
			align-self:baseline;
			padding: 0 1em;
		}
	}
}

/*
*
*
*
*
*					FIN DE PROCESOS
*
*
*
*
*/

/*
*
*
*
*
*					PRODUCTO
*
*
*
*
*/
.container--producto{
	display:flex;	
	justify-content:center;
	align-items:center;
	flex-flow: row wrap;
	width:100%;
	background:white;

	&__1,
	&__2,
	&__3{
		width: 100%;
	}

	&__2{

		padding:1em;

		button{

			background: #66cc34;
			color: white;
			border:none;
			border-radius: 8px;
			padding: .4em .4em;
			font-weight: 600;
			font-size: 1.2em;

			&:hover{
				background:darken(green,5%);
			}
		}
	}
	
	&__3{
		text-align: center;

		

		h5{
			background:#cdcccc;
			padding: 2em 0;
			position:relative;
		}

		&__1{
			margin-top: 4em;
		}
		&__3{
			h5{
				background:green;
				color:white;
				margin-bottom: 0;
			}
		}
	}

	
	@include desde(tablet) {
		padding-top: 2em;

		&__1,
		&__2{
			width: 50%;
		}
		&__1{
			img{
				float:right;
			}
		}
		&__2{
			align-self:flex-start;
			padding-right: 8em;
		}
		&__3{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items:baseline;

			.etiqueta{
				border: 41px solid transparent;
				width: 0;
				height: 0;
				border-left-color: white;
				position:relative;
				top:-6.4em;
			}
			.etiqueta-front{
				border: 41px solid;
				width: 0;
				height: 0;
				border-color: white transparent white transparent;
				position: relative;
				top: -11.5em;
				left:20.5em;
			}

			&__1,
			&__2,
			&__3{
				width: 33.33333333333%;
				padding:1em;
				margin-top: 0;
				max-height: 420px;
			}
			&__3{
				h5{
					margin-bottom: 1.7em;
				}
			}
		}
	}

}
/*
*
*
*
*
*			FIN DE	PRODUCTO
*
*
*
*
*/





/*
*
*
*
*
*					TESTIMONIOS
*
*
*
*
*/
.container--testimonios{
	width:100;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background: url(../img/photo.png);
	color:white;
	padding:1.5em;

	&__1,
	&__2{
		padding:0 2em ;
		background-size:15%;
		background-repeat: no-repeat;
	}
	&__1{
		background-image: url(../img/comillaUp.png);
	}
	&__2{
		background-image: url(../img/comillaDown.png);
		background-position: 100% 100%;
	}

	&__1--img{
	  margin: 2em auto;
	  width: 200px;
	  height: 200px;
	  background-repeat: no-repeat;
	  border-radius: 50%;
	  border: 2px solid #c6c4c4; 
	  background-size: 100% auto;
	  background-position: 50% 0%;
	  background-image: url(../img/testimonio1.jpg);
		
	}

	&__2--img{
	    margin: 2em auto;
	    width: 200px;
	    height: 200px;
	    background-repeat: no-repeat;
	    border-radius: 50%;
	    border: 2px solid #c6c4c4; 
	    background-size: auto 160%;
	  	background-position: 50% 10%;
		background-image: url(../img/testimonio2.jpg);
	}


	@include desde(tablet) {

		align-items: baseline;

		&__1,
		&__2{
			width: 50% ;
		}

		&__2--img,
		&__1--img{
			width: 150px;
			height: 150px;

		}
	}
	@include desde(web){
		background-position: 0;
	}
}
/*
*
*
*
*
*					FOOTER
*
*
*
*
*/
footer{
	width:100%;
	background:#242c2e;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
}
.footer{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	width:100%;
	text-align:left;
	padding:2em;

	p{
		width: 100%;
		color: white;

	}
	img{
		max-width: 60%;
	}
	@include desde(tablet) {
		flex-flow: row nowrap;
		max-width: 1200px;

		p{
			width: 85%;
			text-align: left;
			padding-right:7em;
		}
		img{
			width: 15%;
			padding:1em;
		}
	}
}